<% provide(:title, "Resources") %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Reserves</div>
  <div class="panel-body">
    <p>Currently uploaded resources for this semester</p>
    <form action="/resources/destroy_multiple" method="post" %>
      <table class="table">
        <tr>
          <th><%= sortable "item_id", "ItemID" %></th>
          <th><%= sortable "title", "Title" %></th>
          <th><%= sortable "subtitles", "Subtitles" %></th>
          <th><%= sortable "course_id", "CourseID" %></th>
          <th><%= sortable "course_name", "Course Name" %></th>
          <th><%= sortable "semester", "Semester" %></th>
          <th><%= sortable "instructor", "Instructor" %></th>
          <th>URL</th>
          <th>Delete</th>
          <th><input type="checkbox" class="checkAll" name="checkAll" /></th>
        </tr>
        <% for resource in @resources %>
          <tr>
            <td><%= resource.item_id %></td>
            <td><%= resource.title.titleize %></td>
            <td><%= resource.subtitles %></td>
            <td><%= resource.course_id %></td>
            <td><%= resource.course_name %></td>
            <td><%= resource.semester %></td>
            <td><%= resource.instructor %></td>
            <td><%= "http://#{request.host}:3000" + resource_path(resource).to_s %></td>
            <td>
              <button type="button" class="btn btn-primary"><%= link_to 'Delete', resource_path(resource), method: :delete, data: {confirm: 'Are you sure?'} %></button>
            </td>
            <td><%= check_box_tag "resource_ids[]", resource.id %></td>
          </tr>
        <% end %>
      </table>
      <button type="submit" class="btn btn-primary">Delete Checked</button>
    </form>
  </div>
  <div class="text-center">
    <%= will_paginate @resources %>
  </div>
</div>