<% provide(:title, "Upload") %>
<%# if @resource.errors.any? %>
<!--  <div id="error_explanation">-->
<!--    <h2>-->
<!--      <%#= pluralize(@resource.errors.count, "error") %> prohibited-->
<!--      this resource from being saved:-->
<!--    </h2>-->
<!--    <ul>-->
      <%# @resource.errors.full_messages.each do |msg| %>
<!--        <li><%#= msg %></li>-->
      <%# end %>
<!--    </ul>-->
<!--  </div>-->
<%# end %>
<h1>Upload Resource</h1>
<%= form_with scope: :resource, url: resources_path, local: true do |form| %>
  <p>
    <%= form.label 'Item#' %><br>
    <%= form.text_field :item_id %>
  </p>
  <p>
    <%= form.label :video %><br>
    <%= form.file_field :video %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
