<% provide(:title, "Video") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @resource.title %></h1>
      <p>Course: <%= @resource.course_name %></p>
      <p>Instructor: <%= @resource.instructor %></p>
      <p>
      <div id="player"></div>
        <script>
            jwplayer("player").setup({
                playlist: [{
                    sources: [{
                        file: "rtmp://<%= Figaro.env.wowza_server =%>/reserves/<%= @resource.item_id %>.<%= @resource.content_type %>"
                    }, {
                        file: "http://<%= Figaro.env.wowza_server =%>/reserves/<%= @resource.content_type %>:<%= @resource.item_id %>.<%= @resource.content_type %>/playlist.m3u8"
                    }]
                }],
                mediaid: "<%= @resource.media_id %>"
                ,
                rtmp: {
                    bufferlength: 3
                },
                fallback: true
            });
        </script>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Copyright Statement</h1>
      <p>This service is available for Washington University instructors and students only to be used in conjunction
        with course reserves. Material is subject to the copyright law of the United States (Title 17, U.S. Code).
        Individuals are prohibited from downloading, sharing, installing, and/or operating unauthorized media programs,
        applications, and devices in accordance with the Washington University Computer Use Policy, and any misconduct
        is subject to disciplinary action under the Student Judicial Code.</p>
    </div>
  </div>
</div>