<% provide(:title, "Music") %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Music Reserves</h4></div>
  <div class="panel-body">
    <p>
    <form class="form-inline" action="/resources" method="get" id="search-form">
      <label class="sr-only" for="search">Name</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="search" name="search" placeholder="Search Resources">
      <button type="submit" class="btn btn-warning">Search</button>
    </form>
    </p>
    <form action="/music/destroy_multiple" method="post" %>
      <table class="table">
        <tr>
          <th><input type="checkbox" class="checkAll" name="checkAll" /></th>
          <th><%= sortable "item_id", "ItemID" %></th>
          <th><%= sortable "title", "Title" %></th>
          <th><%= sortable "subtitles", "Subtitles" %></th>
          <th><%= sortable "course_id", "CourseID" %></th>
          <th><%= sortable "course_name", "Course Name" %></th>
          <th><%= sortable "semester", "Semester" %></th>
          <th><%= sortable "instructor", "Instructor" %></th>
          <th><%= sortable "content_type", "Content Type" %></th>
          <th>URL</th>
          <th>Delete</th>
        </tr>
        <% for resource in @resources %>
          <tr>
            <td><%= check_box_tag "resource_ids[]", resource.id %></td>
            <td><%= resource.item_id %></td>
            <td><%= resource.title.titleize %></td>
            <td><%= resource.subtitles %></td>
            <td><%= resource.course_id %></td>
            <td><%= resource.course_name %></td>
            <td><%= resource.semester %></td>
            <td><%= resource.instructor %></td>
            <td><%= resource.content_type %></td>
            <td>
              <button type="button" class="btn btn-info" onclick="window.prompt('Press Ctrl-C to copy URL','<%= "http://#{request.host}:3000" + music_path(resource).to_s %>')">Show
                URL
              </button>
            </td>
            <td>
              <%= link_to 'Delete', music_path(resource), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= submit_tag "Delete Checked", class: "btn btn-primary", data: {confirm: 'Are you sure?'} %>
    </form>
  </div>
  <div class="text-center">
    <% if @resources %>
      <%= will_paginate @resources %>
    <% end %>
  </div>
</div>