<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header top">
      <%= link_to(image_tag('https://library.wustl.edu/wp-content/themes/wutheme_hoyt/images/washu-logo-1linerev.svg', :alt => 'Washington University in St. Louis', :class =>  'navbar-brand'), "https://wustl.edu/") %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="top">
      <ul class="nav navbar-nav navbar-right top">
        <li>
          <%= link_to('Streaming Reserves', '/') %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="page-header">
  <h1>University Libraries</h1>
</div>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "HOME", "/" %></li>
        <% if user_signed_in? and current_user[:group] == 'superadmin' %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UPLOAD ROUTES
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "UPLOAD MUSIC", new_music_path %></li>
              <li><%= link_to "UPLOAD VIDEO", new_video_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LIST ROUTES
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "LIST ALL", resources_path %></li>
              <li><%= link_to "LIST MUSIC", music_index_path %></li>
              <li><%= link_to "LIST VIDEOS", videos_path %></li>
            </ul>
          </li>
        <% elsif user_signed_in? and current_user[:group] == 'mradmin' %>
          <li><%= link_to "UPLOAD MUSIC", new_music_path %></li>
          <li><%= link_to "LIST MUSIC", new_music_path %></li>
        <% elsif user_signed_in? and current_user[:group] == 'sradmin' %>
          <li><%= link_to "UPLOAD VIDEO", new_video_path %></li>
          <li><%= link_to "LIST VIDEOS", videos_path %></li>
        <% else %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right top">
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>