<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to(image_tag('https://library.wustl.edu/wp-content/themes/wutheme_hoyt/images/washu-logo-1linerev.svg', :alt => 'Washington University in St. Louis', :class =>  'navbar-brand'), "https://wustl.ed/") %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="page-header">
  <h1>University Libraries</h1>
  <h3>Streaming Reserves</h3>
</div>


<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", "/" %></li>
        <% if user_signed_in? and current_user[:group] == 'superadmin' %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload Routes
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Upload Music", new_music_path %></li>
              <li><%= link_to "Upload Video", new_video_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">List
              Routes
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "List All", resources_path %></li>
              <li><%= link_to "List Music", music_index_path %></li>
              <li><%= link_to "List Videos", videos_path %></li>
            </ul>
          </li>
        <% elsif user_signed_in? and current_user[:group] == 'mradmin' %>
          <li><%= link_to "Upload Music", new_music_path %></li>
          <li><%= link_to "List Music", new_music_path %></li>
        <% elsif user_signed_in? and current_user[:group] == 'sradmin' %>
          <li><%= link_to "Upload Video", new_video_path %></li>
          <li><%= link_to "List Videos", videos_path %></li>
        <% else %>
        <% end %>

      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>