<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'jw/jwplayer.js' %>
  <%= render 'layouts/shim' %>
  <%= favicon_link_tag asset_path('https://library.wustl.edu/wp-content/themes/wutheme_hoyt/images/favicon/favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' %>
  <%= stylesheet_link_tag 'navbar-fixed-top' %>
  <%= stylesheet_link_tag 'sticky-footer-navbar' %>
</head>

<body>
<%= render 'layouts/header' %>

<% if !flash.empty? %>
  <%= render 'layouts/messages' %>
<% else %>
<% end %>
<!-- Begin page content -->
<%= yield %>


<%= render 'layouts/footer' %>



</body>
</html>